directory=toolboxes/fluid/cyclonecfd

[fluid]
gmsh.scale=1e-2
filename=$cfgdir/cyclone.json
mesh.filename=$cfgdir/cycloneV2.geo

linearsystem-cst-update=false
jacobian-linear-update=false

ksp-converged-reason=
# snes-converged-reason=true
snes-monitor=true

pc-type=gasm#lu #gasm,lu,fieldsplit,ilu
ksp-monitor=1

#verbose_solvertimer=1