
directory=toolboxes/fluid/new_testcases/rising_cylinder

case.dimension=2

[body.markers]
volume=CylinderVolume
facet=CylinderSurface

[fluid]
exporter.use-static-mesh=0
filename=$cfgdir/rising_cylinder.json
mesh.filename=$cfgdir/rising_cylinder.geo
gmsh.hsize=0.08
#solver=Oseen #Oseen,Picard,Newton
ksp-monitor=true
pc-type=lu
ksp-type=preonly
#reuse-prec=1
ksp-maxit-reuse=20
snes-monitor=true
snes-maxit=100
define-pressure-cst=true
#define-pressure-cst.method=lagrange-multiplier#algebraic
verbose_solvertimer=1

[fluid.alemesh]
pc-type=lu
[fluid.bdf]
order=1

[ts]
order=1
time-step=0.001# the time step should be verified
time-final=28
restart.at-last-save=true
time-initial=-0.001

[exporter]
freq=10