directory=toolboxes/fluid/spring/

[fluid]
gmsh.partition=1
gmsh.scale=1e-2
filename=$cfgdir/spring.json
mesh.filename=girder:{file:5b03dfcbb0e957402704806d}

linearsystem-cst-update=false
jacobian-linear-update=false

ksp-converged-reason=
# snes-converged-reason=true
snes-monitor=true

pc-type=gasm#lu #gasm,lu,fieldsplit,ilu
ksp-monitor=1

#verbose_solvertimer=1

	
