[fluid]
mshfile=$repository/angiotk/spring/volumefromstlandcenterlines/spring_up_spacing0.01_remeshGMSHpt15_volumeMeshpt15WithoutArterialWall.msh
gmsh.partition=1
gmsh.scale=1e-2
filename=$cfgdir/cfd.json

#solver=Newton #Oseen,Picard,Newton
linearsystem-cst-update=false
jacobian-linear-update=false

ksp-converged-reason=
# snes-converged-reason=true
snes-monitor=true

pc-type=gasm#lu #gasm,lu,fieldsplit,ilu
ksp-monitor=1

verbose_solvertimer=1

[exporter]
directory=angiotk/spring/feelpp/cfd/$fluid_tag